GenerateGBFSDataset/.idea
GenerateGBFSDataset/target
GenerateGBFSDataset/project/target
GenerateGBFSDataset/project/project/target

GBFSCron/.gradle
GBFSCron/.idea
GBFSCron/build
GBFSCron/out

GBFSKafkaRegistry/.gradle
GBFSKafkaRegistry/.idea
GBFSKafkaRegistry/build
GBFSKafkaRegistry/out
