GenerateGBFSDataset/.idea
GenerateGBFSDataset/target
GenerateGBFSDataset/project/target
GenerateGBFSDataset/project/project/target

GBFSCron/.gradle
GBFSCron/.idea
GBFSCron/build
GBFSCron/out

TripHistoryProducer/.gradle
TripHistoryProducer/.idea
TripHistoryProducer/build
TripHistoryProducer/out

GBFSStream/.idea
GBFSStream/target
GBFSStream/project/target
GBFSStream/project/project/target

Enricher/.gradle
Enricher/.idea
Enricher/build
Enricher/out

AvroRegistrySchema/.gradle
AvroRegistrySchema/.idea
AvroRegistrySchema/build
AvroRegistrySchema/out
